.introBar {
    text-align: center;
    margin-bottom: 10px;
}

.inputBar {
    text-align: center;
    margin-bottom: 10px;
    display: none;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    font-size: 1em;
    font-weight: 300;
    color: black;
    background-color: white;
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
}

.inputfile:focus+label,
.inputfile+label:hover {
    background-color: #999;
}

.inputfile+label {
    cursor: pointer;
}