html * {
    font-family: Arial, Helvetica, sans-serif;
}

*,
*:hover {
    transition: all .3s;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.container {
    position: relative;
}

.main-tab-container {
    position: absolute;
    top: 94%;
}

.introContainer {
    position: absolute;
    top: 5vh;
    width: 70vw;
    height: 70vh;
    border: 2px solid black;
    right: 0;
    left: 0;
    margin: auto;
    /* Use rgba to not effect text opacity */
    background: rgba(255, 255, 255, 0.9);
}

.introTitle {
    color: black;
    padding: 1.5vw;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.75vw;
    font-weight: bold;
}

.introMsg {
    color: black;
    padding-right: 3vw;
    padding-left: 3vw;
    text-align: left;
    line-height: 1.6;
    font-size: 1.3vw;
    text-align: justify;
}

.introMsgCredits {
    color: black;
    padding-top: 1.5vh;
    padding-right: 3vw;
    padding-left: 3vw;
    text-align: left;
    line-height: 1.6;
    font-size: 1vw;
    font-style: italic;
    text-align: justify;
}

.introBar {
    text-align: center;
    margin-bottom: 10px;
}

.inputBar {
    text-align: center;
    margin-bottom: 10px;
    display: none;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    font-size: 1em;
    font-weight: 300;
    color: black;
    background-color: white;
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
}

/* .inputfile:focus+label,
.inputfile+label:hover {
    background-color: #999;
} */

/* .inputfile+label {
    cursor: pointer;
} */



/* Main Tabs */
label {
    background-color: #817c81;
    color: #ffffff;
    display: inline-block;
    cursor: pointer;
    padding: 8px;
    font-size: 14px;
}

label:hover {
    background-color: #ccc;
}

/* label input:checked {
    background-color: red;
} */

.tab-radio {
    display: none;
}

/* Tabs behaviour, hidden if not checked/clicked */
.sub-tab-content,
.tab-content {
    display: none;
}

.tab-radio:checked+.tab-content,
.tab-radio:checked+.sub-tab-content {
    display: block;
}

/* Sub-tabs */
.sub-tabs-container label {
    background-color: #f3f4fa;
    color: #030700;
    border: 1px solid #ddd;
}

.sub-tabs-container label:hover {
    background-color: #919604;
}

/* Tabs Content */
.tab-content {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
}




.tab-checkbox {
    background-color: #ffffff;
    color: black;
    display: inline;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.tab-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.tab-content label:hover {
    background-color: #ffffff;
}

/* Create a custom checkbox with light grey backround that matches sk.COLORGREY constant */
.checkmark {
    position: absolute;
    top: 12;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #D3D3D3;
}

/* On mouse-over, add a dark grey background color */
/* .tab-checkbox:hover input~.checkmark {
    background-color: #D3D3D3;
} */

/* When the checkbox is checked, add a dark grey background */
/* .tab-checkbox input:checked~.checkmark {
    background-color: #1b03f5;
} */