html * {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: relative;
}

.introContainer {
    position: absolute;
    top: 5vh;
    width: 70vw;
    height: 70vh;
    border: 2px solid black;
    right: 0;
    left: 0;
    margin: auto;
    /* Use rgba to not effect text opacity */
    background: rgba(255, 255, 255, 0.9);
}

.introTitle {
    color: black;
    padding: 25px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.75vw;
    font-weight: bold;
}

.introMsg {
    color: black;
    padding-right: 3vw;
    padding-left: 3vw;
    text-align: left;
    line-height: 1.6;
    font-size: 1.3vw;
    text-align: justify;
}

.introMsgCredits {
    color: black;
    padding-top: 1.5vh;
    padding-right: 3vw;
    padding-left: 3vw;
    text-align: left;
    line-height: 1.6;
    font-size: 1vw;
    font-style: italic;
    text-align: justify;
}

.introBar {
    text-align: center;
    margin-bottom: 10px;
}

.inputBar {
    text-align: center;
    margin-bottom: 10px;
    display: none;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    font-size: 1em;
    font-weight: 300;
    color: black;
    background-color: white;
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
}

.inputfile:focus+label,
.inputfile+label:hover {
    background-color: #999;
}

.inputfile+label {
    cursor: pointer;
}